/*switch*/
.switch {
    position: absolute;
    display: inline-block;
    width:6vw;
    height: 3vw;
    border-radius: 34px;
    margin: 1.1vw;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FDF1F4;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 3vw;
}
.slider:before {
    position: absolute;
    content: "";
    height: 2.5vw;
    width: 2.5vw;
    left: 0.25vw;
    bottom:0.25vw;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}
input:checked + .slider {
    background-color: pink;
}
input:focus + .slider {
    box-shadow: 0 0 1px pink;
}
input:checked + .slider:before {
    -webkit-transform: translateX(3vw);
    -ms-transform: translateX(3vw);
    transform: translateX(3vw);
}
