
/*fonts*/
@font-face {
    font-family: UWU;
    src: url(AkayaTelivigala-Regular.ttf);
    }
@font-face {
    font-family: UWU2;
    src: url(HashedBrowns-WyJgn.ttf);
    }
/*basic*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    color: palevioletred;
}
.main {
    background-image: url("pics/uwu.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
img{
    filter: drop-shadow(0 0 3px rgb(255, 224, 235));
}
.container {
    padding: 0 15px;
    margin: 0 30px;
}
.row{
    display:flex;
    justify-content:center;
    padding: 5vm;
}
.uwu {
    padding: 250px 0;
}
h1 {
    color: rgb(255, 215, 221);
    font-family: UWU2;
    font-size:5vw;
    text-align: center;
}
h2 {
    font-family: UWU;
    font-size: 3vw;
    color: pink;
    text-align: center;
}
h4 {
    font-family: UWU;
    font-size: 3vw;
    color: pink;
    text-align: center;
}
a{
    text-align: center;
    font-size: 1.0vw;    
}
p {
    text-align: center;
    font-size: 1.5vw;
}
.decorative-box {
    border-left: 4px solid pink;
    background-color: rgb(255, 241, 244);
    padding: 8px;
    text-align: left;
    }
/*navbars*/
.navbar {
    display: flex;
    flex-wrap: wrap;
    background-color: transparent;
    justify-content: center;
}
.navbar a {
    color: rgb(255, 255, 255);
    width: 15vw;
    height: 15vw;
    line-height: 15vw;
    text-align: center;
    margin: 0 5px;
    background-color: rgba(0, 0, 0, 0.288);
    border-radius: 2vw;
    border-color: rgb(255, 233, 241);
    border-width: 1px;
    border-style: solid;
    font-size: 2vw;
}
.navbar a:hover {
    color: rgb(255, 255, 255);
    background-color:#fff5f54c;
}
.footer {
    background-color: pink;
    color: white;
    display: flex;
    justify-content: center;
}
/*dark-mode*/
.dark-mode{/*body*/
    color:rgb(136, 48, 78);
    background-color: palevioletred;
}
.other-dark-mode{
    color:palevioletred;
    background-color: rgb(171, 62, 99);
}
.nav-dark-mode{
    background-color: black;
    color: rgb(0, 0, 0);
    border-color: blue;
}
/*header*/
.text {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size:4vw;
    mix-blend-mode:screen;
    position: absolute;
    text-align: center;
    font-family: UWU2;
    width: 100%;
    font-weight: bold;
    height: 4vw;
    vertical-align: middle;
    padding-bottom: 0.5vw;
    }
.text-background{
    background-color: rgb(255, 211, 218);
    color: rgba(255, 255, 255, 0);
    mix-blend-mode:darken;
    position: absolute;
    width: 100%;
    height: 10%;
    vertical-align: middle;
}
/*backgrounds*/
.background-1{
    background-image: url("pics/uwu.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.background-2{
    background-image: url("pics/background1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 37vw;
}
.background-3{
    background-image: url("pics/background2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 37vw;
}
/*switch*/
.switch {
position: relative;
display: inline-block;
width: 60px;
height: 34px;
border-radius: 34px;
margin: 10px;
}
.switch input { 
opacity: 0;
width: 0;
height: 0;
}
.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
-webkit-transition: .4s;
transition: .4s;
border-radius: 34px;
}
.slider:before {
position: absolute;
content: "";
height: 26px;
width: 26px;
left: 4px;
bottom: 4px;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
border-radius: 50%;
}
input:checked + .slider {
background-color: pink;
}
input:focus + .slider {
box-shadow: 0 0 1px pink;
}
input:checked + .slider:before {
-webkit-transform: translateX(26px);
-ms-transform: translateX(26px);
transform: translateX(26px);
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.social-links {
    display: flex;
}

.instagram-links, .discord-links {
    width: 60%;    
    padding: 10px;
}