
/*fonts*/
@font-face {
    font-family: UWU;
    src: url(AkayaTelivigala-Regular.ttf);
    }
@font-face {
    font-family: UWU2;
    src: url(HashedBrowns-WyJgn.ttf);
    }
/*basic*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    color: palevioletred;
}

.container {
    padding: 0 15px;
    margin: 0 30px;
}