<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- Links -->
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/Stylesheet/Footer.css">
</head>
<body>

<footer class="footer">
    <div class="content">
        <div class="row">
            <div class="footer-col">
                <h4>Overview</h4>
                <ul>
                    <li><a href="index.html"></a>Home</li>
                    <li><a href="pinkgallery.html"></a>Pinkgallery</li>
                    <li><a href="grafikdesign.html"></a>Grafikdesign</li>
                    <li><a href="photoshop.html"></a>Photoshop</li>
                </ul>
            </div>

            <div class="footer-col">
                <h4>get help</h4>
                <ul>
                    <li><a href="#"></a>About us</li>
                    <li><a href="#"></a>Our service</li>
                    <li><a href="#"></a>Privat</li>
                    <li><a href="#"></a>Ask</li>
                </ul>
            </div>

            <div class="footer-col follow-us">
                <h4>follow us</h4>
                <div class="sozial-links">
                    <a href="https://www.instagram.com/azn.68/"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-snapchat"></i></a>
                    <a href="https://discordapp.com/users/Lina_#1030"><i class="fab fa-discord"></i></a>
                    <a href="https://www.instagram.com/caroundsky"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>


</body>
</html>